---
layout: default
---

<div class="home">
  <link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.ico?">



 <!--<div class="col col-12">
      <div class="col col-3">
          <div class="block glass" style="background-image:url(assets/gravatar2.png); width:230px;height:230px;">
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>WindNinja is a diagnostic wind model developed for use in wildland fire modeling.</h2>
                <p class="white-text">Wind is one of the most influential environmental factors affecting wildland fire behavior. The complex terrain of fire-prone landscapes causes local changes in wind speed and direction that are not predicted well by standard weather models or expert judgment. WindNinja was developed to help fire managers predict these winds.</p>
            </div>
        </div>
      </div>
  </div>-->
  <div class="col col-12">
  <div class="block glass">
  <!--  <div class="block-body"> -->
      <div class="col col-3">
        <img src="assets/gravatar2.png">
      </div>
      <div class="col col-9">
        <div class="block-body height-1">
        <h2>WindNinja is a diagnostic wind model developed for use in wildland fire modeling.</h2>
        <p class="white-text">Wind is one of the most influential environmental factors affecting wildland fire behavior. The complex terrain of fire-prone landscapes causes local changes in wind speed and direction that are not predicted well by standard weather models or expert judgment. WindNinja was developed to help fire managers predict these winds.</p>
      </div>
    </div>
  </div>
</div>

  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}})">
            <div class="block-body height-{{port.height}}">
                <h2 class="align-bottom-right">
                  <a href="http://www.firelab.org/document/windninja-software">{{ port.ttitle }}</a>
                  <a href="https://github.com/firelab/windninja">{{ port.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
 <div class="col col-9">
    <div class="col col-3">
      <div class="block green">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/IntheField/">WindNinja In The Field</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block pink">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/howdoes/">How Does WindNinja Work?</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="block red">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/online/">WindNinja Online Run</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block blue">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/tutorial/">WindNinja Tutorials</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block orange">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/mobile/">WindNinja Mobile</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block pink">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/whois/">Who Uses WindNinja?</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block teal">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/field/">Field Observations</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="block green">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/publications/">Select Publications & Products</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="block purple">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/advanced/">Developers & Advanced Users</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="block blue">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/build/">Building WindNinja from Source</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block red">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/contributors/">Contributors</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="block green">
        <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>
          <a class="post-link white-text" href="/windninja/indev/">Features in Development</a>
          </h2>
          <span class="post-meta white-text"></span>
        </div>
      </div>
    </div>
        </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot"><a href="http://firelab.github.io/windninja/umap/">WindNinja Usage Map and Statistics</a></h3>
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col col-12">
  <div class="block glass">
      <div class="block-body height-1">
          <span class="post-meta white-text"></span>
          <h2>Subscribe to the WindNinja mailing list</h2>
          <p>Get updates on new releases, bug fixes and other WindNinja developments.</p>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:50%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="//firelab.us3.list-manage.com/subscribe/post?u=958257341fc013fb454886dac&amp;id=bd54ebc3a2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_958257341fc013fb454886dac_bd54ebc3a2" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
        <br>
      </div>
  </div>
</div>
</div>
