html, body 
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#map 
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.leaflet-div-icon {
    background: white;
    border: 2px solid #0077ff;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    margin-left: -5px !important;
    margin-top: -5px !important;
    box-shadow: 0 0 1px #000;
}

.leaflet-drag-target {
    cursor: move !important;
}

.leaflet-center-button {
    display: block;
    text-align: center;
    font-size: 35px;
    line-height: 26px;
    width: 28px;
    height: 28px;
    text-decoration: none;
}

.leaflet-control-load {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    width: 28px;
    height: 28px;
    text-decoration: none;
}

.leaflet-top.leaflet-right {
    z-index: 1000;
}

.leaflet-bottom.leaflet-right {
    z-index: 400;
}

.leaflet-control-clear {
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 4px;
}