name: Deploy API to Ninjastorm

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen
      
      - name: List files before running Doxygen
        run: |
          echo "Files in ./doc/html before running Doxygen:"
          find ./doc/html -type f

      - name: Generate Doxygen Documentation
        run: doxygen Doxyfile

      - name: List files after running Doxygen
        run: |
          echo "Files in ./doc/html after running Doxygen:"
          find ./doc/html -type f

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_NINJASTORM_KEY }}

      - name: Copy documentation to server
        run: |
              scp -o StrictHostKeyChecking=no -r ./doc/html/* octobot@ninjastorm.firelab.org:/tmp/
              ssh octobot@ninjastorm.firelab.org "sudo rm -rf /var/www/html/windninjaapi/*"   
              ssh octobot@ninjastorm.firelab.org "sudo mv /tmp/* /var/www/html/windninjaapi/"

